#games,
#uis,
#projects {
  width: 100%;
}

.tile-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.tile {
  display: flex;
  width: 350px;
  height: 175px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 0px #000;
  margin: 10px;
}

.list-aside {
  width: 175px;
  height: 175px;
  background-color: #1c1c1c;
  color: #f1f1f1;
}

.tile-image {
  width: 175px;
  height: 175px;
}

h3 {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}

ul {
  font-size: 12px;
  line-height: 20px;
  margin: 5px 0;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
