.container {
  width: 960px;
  flex: 1 0 auto;
  background-color: white;
  margin: 6rem auto 0 auto;
  display: grid;
  grid-template-columns: auto 280px 280px auto;
  grid-template-rows: 80px 200px 200px 200px;
  grid-template-areas:
    "header header header header"
    ". col-1 col-2 ."
    ". col-1 col-2 ."
    ". col-1 col-2 .";
  column-gap: 2rem;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.box-1 {
  position: relative;
  grid-area: col-1;
  width: 280px;
  height: 200px;
}

.box-2 {
  position: relative;
  grid-area: col-2;
  width: 280px;
  height: 200px;
}

.header {
  grid-area: header;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0 20px;
}

.img {
  width: 280px;
  height: 200px;
  border-radius: 5px;
  flex-basis: 280px 1;
  margin-bottom: -8px;
}

.label {
  display: border-box;
  position: absolute;
  bottom: 15px;
  text-align: center;
  background-color: inherit;
  padding: 0.5rem 0;
  width: 280px;
  color: white;
  font-family: "Old Standard TT", serif;
  font-size: 18px;
}

a.img-link {
  background-color: #4aaaa5;
}

a.img-link:hover {
  background-color: #48b873;
}
@media only screen and (max-width: 980px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .box-1 {
    margin: 0 auto 10px;
  }
  .box-2 {
    margin: 0 auto 10px;
  }
}
