a.image-link{
  background-color: #4aaaa5;
}

a.image-link:hover{
  background-color: #48b873;
}

span.label:hover{
  background-color:#48b873;
}

.img{
  width:280px;
  height:200px;
  margin:0px 0px -3px 0px;
  padding: 0px;
}

.box{
  position: relative;
  float: left;
  padding: 20px;
}

.label{
  background-color:inherit;
  width: 250px;
  text-align: center;
  display: block;
  position: absolute;
  color: #ffffff;
  bottom: 30px;
  padding: 15px;
  cursor: pointer;
}

#box_3 {
  clear: left;
}

#box_5{
  clear: left;
}